.AboutMe{
    display:block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    
    margin-bottom: 10%;

}
.listaSkills{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
.skill{
    display: block;
    align-items: center;
    text-align: center;
    
}
.li{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 150%;
}
