.header {
  display: flex;
  gap: 30px;
  align-items: center;
  
}
.header .logo{
    justify-content: flex-start ;
    margin-right: 200px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.cabecalho {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
  margin-right: 600px;
  margin-left: 200px;
}
