

.projects{
    
    padding: 50px 210px;
    display: flex;
    flex-direction: column; /* título em cima, cards embaixo */
    align-items: center;
}
.Title{
    font-size: 1036px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    
    margin-bottom: 0px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 20px;
}
.card{
    background-color:rgb(43, 0, 255);;
    display:flex;
    flex-wrap: wrap;
    color: white;
    gap: 20px; 
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 30px 30px 30px hsla(0, 0%, 0%, 0.832);
    
    padding: 20px;
    margin: 20px;
    text-align:center;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
    
}
.card .cardImage{
    border: 2px solid white;
    max-width: 150px;
    max-height: 150px;
    border-radius: 20%;
    margin-bottom: 10px;
    margin-right: 20px;
}
.card .cardTitle{
    font-family: Arial, sans-serif;
    margin: 0;
    
    font-size: 110%;
    margin-bottom: 10px;
}
.card .cardText{
    font-family: Arial, sans-serif;
    
    font-size: 14px;
    margin-right: 2%;
    margin-left: 2%;
}
.Title{
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px;
}