.page {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 100px 0.99fr 100px;
  align-items: center;
  justify-items: center;
  min-height: 110svh;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  gap: 10px;
  font-family: var(--font-geist-sans);
}
.apresentation {
  width: 100%;
  margin-bottom: 2%;
  color: white;
  background-color: rgb(43, 0, 255);;
}
.aboutMe {
  margin-top:25%;
  margin-bottom: 15%;
}
.projects {
  display: flex;
  justify-content: center;
  background-color: rgb(43, 0, 255);
  margin-bottom: 0%;
  margin-top: 5%;
  
}
