.page {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 100px 0.99fr 100px;
  align-items: center;
  justify-items: center;
  min-height: 110svh;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20em;
  gap: 64px;
  font-family: var(--font-geist-sans);
}
.apresentation {
  width: 100%;
  margin-bottom: 10%;
}
.aboutMe {
  margin-top:20%;
}
.projects {
  
  margin-top: 10%;
  margin-bottom: 10%;
}