.page {
  display: grid;
  grid-template-rows: 100px 0.99fr 100px;
  align-items: center;
  justify-items: center;
  min-height: 110svh;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20em;
  gap: 64px;
  font-family: var(--font-geist-sans);
}